In [1]:
# print 0 to 20 by using range
for num in range(0,20):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [2]:
# print range 10 to 20
for num in range(10,20):
    print(num)

10
11
12
13
14
15
16
17
18
19

In [5]:
# Print number of items in the list by using 'len'
List2=[10,20,14,55,43,87,76]
print(List2)
print("Number of item in the List2:",len(List2))

[10, 20, 14, 55, 43, 87, 76]
Number of item in the List2: 7

In [16]:
a=str(input())
for num in a:
    print(num)

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [18]:
input("-Your Name-")
input("-Your Age-")
input("-Your Profession-")

-Your Name-Dhanushya
-Your Age-22
-Your Profession-NPI Engineer

'NPI Engineer'

In [20]:
# Print mixered datatype using Tuples
tup=(1,'Welcome', 2,'Hope')
print(tup)

(1, 'Welcome', 2, 'Hope')

In [21]:
tup1=(0,1,2,3)
tup2=('python','HOPE')
tup3=(tup1,tup2)
print(tup3)

((0, 1, 2, 3), ('python', 'HOPE'))

In [22]:
# print Odd Numbers in the list
numbers=(20,10,16,19,25,1,276,188)
print(numbers)

for i in numbers:
    if(i%2==1):
        print(i,"is odd")

(20, 10, 16, 19, 25, 1, 276, 188)
19 is odd
25 is odd
1 is odd

In [23]:
# print even Numbers in the list
numbers=(20,10,16,19,25,1,276,188)
print(numbers)

for i in numbers:
    if(i%2==0):
        print(i,"is even")

(20, 10, 16, 19, 25, 1, 276, 188)
20 is even
10 is even
16 is even
276 is even
188 is even